<div class="container  mt-4 ">
  <h1>Dodaj zwierze do profilu </h1>
  <form class="row g-3 ">

    <div class="col-md-6">
      <label for="inputName" class="form-label">Typ( KOT, PIES, KRÓLIK)</label>
      <input type="text" class="form-control" id="inputName">
    </div>
    <div class="col-md-6">
      <label for="inputSurname" class="form-label">Imię</label>
      <input type="text" class="form-control" id="inputSurname">
    </div>
    <div class="col-md-6">
      <label for="inputWeight" class="form-label">Waga (w kg)</label>
      <input type="number" class="form-control" id="inputWeight">
    </div>
    <div class="col-md-6">
      <label for="inputSex" class="form-label">Płeć</label>
      <input type="text" class="form-control" id="inputSex">
    </div>
    <div class="col-12 mt-4 text-center">
      <button type="submit" class="btn btn-primary ">Dodaj zwierze</button>
    </div>
    <div class="col-12 mb-4"></div>
  </form>
</div>


