<div class="container">
<h2>Cennik</h2>
  <table class="table table-light table-striped table-hover">
    <thead class="table-light">
  <tr>
    <th style="background: darkgrey;"></th>
    <th style="background: darkgrey;">Usluga</th>
    <th style="background: darkgrey;">Cena</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of priceList">
    <td class="dog-cell" >
      <img [src]="product.dog" [alt]="product.dog + ' Dog'" width="120px" height="80px">
    </td>
    <td class="increased-font"><b>{{ product.produkt }}</b></td>
    <td class="increased-font"><b>{{ product.cena | currency:'PLN' }}</b></td>
  </tr>
  <tr *ngIf="priceList.length === 0">
    <td colspan="2">Brak dostępnych produktów w cenniku.</td>
  </tr>
  </tbody>
</table>
</div>
