<div class="container mt-4">
<h2>Lista zwierzat</h2>
<br>
<table class ="table table-striped">
  <tr>
    <th>Id</th>
    <th>Typ</th>
    <th>Waga</th>
    <th>Imie</th>
    <th>Płeć</th>
    <th></th>
  </tr>
  <tbody>
  <tr *ngFor="let animal of animalList">
    <td>{{ animal.id }}</td>
    <td>{{ animal.type }}</td>
    <td>{{ animal.weight }}</td>
    <td>{{ animal.name }}</td>
    <td>{{ animal.sex }}</td>
    <button class="delete-button" aria-label="Delete button" (click)="deleteAnimal(animal.id)" >
      <mat-icon>delete</mat-icon>
    </button>
    <button class="edit-button" aria-label="Edit button" (click)="editAnimal(animal.id)">
      <mat-icon> Edit</mat-icon>
    </button>
  </tr>
  </tbody>
</table>

<dialog #appDialog class="border border-primary bg-white text-black w-fit max-w-screen-sm">
  <h1 class="text-2xl font-semibold w-100 border-b border-slate-300 px-2 mb-4"(click)="appDialog.close()">Pomyślnie usunięto zwierze!</h1>
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="appDialog.close()">Close</button>
  <ng-content></ng-content>
</dialog>
  <div class="container mt-4" *ngIf="isEditMode">
  <form #userForm="ngForm" (ngSubmit)="putAnimal()">
    <div class="mb-3">
      <label for="id" class="form-label">id</label>
      <input type="id" class="form-control" id="id"  name="id" [(ngModel)]="currentAnimalId" >
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Imie</label>
      <input type="name" class="form-control" id="name"  name="Name" [(ngModel)]="editedName">
    </div>
    <div class="mb-3">
      <label for="weight" class="form-label">Waga</label>
      <input type="weight" class="form-control" id="weight"  name="weight" [(ngModel)]="editedWeight">
    </div>
    <div class="mb-3">
      <label for="type" class="form-label">Typ</label>
      <input type="type" class="form-control" id="type" name="type" [(ngModel)]="editedType">
    </div>
    <div class="mb-3">
      <label for="sex" class="form-label">Płec</label>
      <input type="sex" class="form-control" id="sex"   name="sex" [(ngModel)]="editedSex">
    </div>

    <button type="submit" class="btn btn-primary" >Submit</button>
  </form>
</div>

</div>
