<div class="container  mt-4 ">
  <h1>Zarejstruj się </h1>
<form class="row g-3 ">

  <div class="col-md-6">
    <label for="inputName" class="form-label">Imie</label>
    <input type="text" class="form-control" id="inputName">
  </div>
  <div class="col-md-6">
    <label for="inputSurname" class="form-label">Nazwisko</label>
    <input type="text" class="form-control" id="inputSurname">
  </div>
  <div class="col-md-6">
    <label for="inputPhone" class="form-label">Telefon</label>
    <input type="text" class="form-control" id="inputPhone">
  </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label for="inputLogin" class="form-label">Login</label>
    <input type="text" class="form-control" id="inputLogin">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword4">
  </div>
  <div class="col-12 mt-4 text-center">
    <button type="submit" class="btn btn-primary ">Sign in</button>
  </div>
  <div class="col-12 mb-4"></div>
</form>
</div>

